@use "../../baseStyles/colors.module.scss";

.tag{
    height: 32px;
    font-size: 0.9rem;
    font-weight: 500;
    color: colors.$dark100;
    line-height: 32px;
    padding: 5px 12px;
    border-radius: 16px;
    background-color: colors.$white100;
    margin-bottom: 5px;
    margin-right: 5px;
}