.wrapper {
    background-color: #2196f3;
    border: 0;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    transition: background-color .2s;

    &:hover {
        background-color: white;
        color: #1976d2;
    }

    .title {
        font-size: 1rem;
    }
}
