@use "../../baseStyles/colors.module.scss";
@use "../../baseStyles/fonts.module.scss";


.wrapper {
    background-color: colors.$blue500;
    border: 0;
    padding: 20px;
    cursor: pointer;
    color: colors.$white;
    transition: background-color .2s;

    &:hover {
        background-color: colors.$white;
        color: colors.$blue400;
    }

    .title {
        font-size: fonts.$medium;
    }
}
