@use '../../baseStyles/breakpoints.module.scss';

.wrapper{
    margin:1.5rem 0;

    .topSection{
        display: flex;
        justify-content: space-between;

        @include breakpoints.for-phone-only{
            display: block;
            width: 80%;
            margin: 0 auto;
        }
        .imgDiv{
            width: 450px;
            height: 700px;

            @include breakpoints.for-phone-only{
                width: 100%;
                height: 60vh;
            }

            .img{
                width: 100%;
                height: 100%;
            }
        }

        .aboutShow{
            width:50%;

            @include breakpoints.for-phone-only{
                width:100%;
                text-align: center;
            }
            .name{
                font-size: 4rem;

                @include breakpoints.for-phone-only{
                    font-size: 2rem;
                }
            }

            .summary{
                font-size: 1.5rem;
                line-height: 1.5;
                margin-top: 20px;

                @include breakpoints.for-phone-only{
                    font-size: 1rem;
                }
            }
        }
    }
}