.wrapper {
    background-color: #1976d2;

    .content {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            font-size: 2rem;
            color: #fff;
            font-weight: 500;
        }
    }
}
