@use "../../baseStyles/colors.module.scss";
@use "../../baseStyles/fonts.module.scss";

.wrapper {
    background-color: colors.$blue400;

    .content {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            font-size: fonts.$large;
            color: colors.$white;
            font-weight: 500;
        }
    }
}
